<%- include("./partials/header") %>

<h1 style = "color:green;" >   
    Fair Manager 
</h1> 

<form action="/query" method="POST">
    <div>
        <textarea name="text" placeholder="query" cols="70" rows="3"></textarea>
    </div>
    <br>
    <input class="btn btn-danger" type="submit">
</form>





